*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_div
{
    min-height: 100vh;
    background: #060822;
    display: flex;
    justify-content: center;
}
.child-div {
    text-align: center;
    margin-top: 1rem;
    display: inline-block;
 
  }
  
  input {
     display: block; 
    min-width: 10rem;
    height: 1.0rem;
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: rgb(58, 57, 57);
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
    box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}
.btn{
    margin: 20px 150px;
    padding: 5px;
    
}
.main_show{
    display: block; 
    width: 100%;
    height: 25.0rem;
    padding: 2rem 1.2rem;
    font-size: 1.8rem;
    margin-top: 10px;
    color: rgb(58, 57, 57);
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
    box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}
.left{
        float: left;
}
.right{
    margin-top: 0;
    display: inline;
}